---
layout: layouts/component.njk
title: Services et renseignements
lang: fr
component: gcds-ext-mws-services
altPage: /en/components/services-and-information/index.html
permalink: /fr/composants/services-et-renseignements/index.html
dateModified: "2026-07-29"
---

<h1>Services et renseignements</h1>
<p>Le composant <code>&lt;gcds-ext-mws-services&gt;</code> affiche des ensembles de liens accompagnés de descriptions (également appelés menus d’accueil thématique). Elle sert de feuille de route lorsqu’une page de renvoi comporte une série de pages auxquelles renvoyer. Chaque lien, accompagné de sa description, fournit un résumé concis de ce qu’une personne trouvera sur les pages de destination.</p>

<h2>Exemples</h2>

<h2>Par défaut</h2>
<gcds-ext-mws-services services-title="Services et renseignements">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services et renseignements">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Titre invisible</h2>
<gcds-ext-mws-services services-title="Services et renseignements" hide-title>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services et renseignements" hide-title>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Sur deux colonnes</h2>
<gcds-ext-mws-services services-title="Services et renseignements" columns="2">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services et renseignements" columns="2">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Sur une seule colonne</h2>
<gcds-ext-mws-services services-title="Services et renseignements" columns="1">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services et renseignements" columns="1">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Utilisez des verbes d'action ou énumérez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page vers laquelle il renvoie</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}
