---
layout: layouts/component.njk
title: Services and information
lang: en
component: gcds-ext-mws-services
altPage: /fr/composants/services-et-renseignements/index.html
permalink: /en/components/services-and-information/index.html
dateModified: "2026-07-29"
---

<h1>Services and information</h1>
<p>The <code>&lt;gcds-ext-mws-services&gt;</code> component presents sets of links with accompanying descriptions (also known as doormats). It acts as a roadmap when a landing page has a series of pages to link to. Each link with its description provides a concise summary of what a person will find on destination pages.</p>

<h2>Examples</h2>

<h2>Default</h2>
<gcds-ext-mws-services services-title="Services and information">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services and information">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Invisible heading</h2>
<gcds-ext-mws-services services-title="Services and information" hide-title>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services and information" hide-title>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Two columns</h2>
<gcds-ext-mws-services services-title="Services and information" columns="2">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services and information" columns="2">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}

<h2>Single column</h2>
<gcds-ext-mws-services services-title="Services and information" columns="1">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
</gcds-ext-mws-services>

{% highlight "html" %}
<gcds-ext-mws-services services-title="Services and information" columns="1">
    <gcds-ext-mws-services-item service-title="[Hyperlink text]" href="#">Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to</gcds-ext-mws-services-item>
    ...
</gcds-ext-mws-services>
{% endhighlight %}
