---
layout: layouts/core.njk
title: Canada.ca Managed Web Services GCDS extension
lang: en
home: true
altPage: /fr/index.html
dateModified: "2026-07-27"
permalink: /index.html
---

{% include "pages/index.njk" %}
