---
layout: layouts/core.njk
title: Canada.ca Managed Web Services GCDS extension
lang: en
home: true
altPage: /fr/index.html
dateModified: "2026-07-27"
permalink: index.html
---

<h1>Canada.ca Managed Web Services GCDS extensions</h1>
<p>An official, production-ready extension of the Government of Canada Design system (GCDS). More information can be found on the <a href="https://design-system.canada.ca/">main GCDS page</a>.</p>
<p><gcds-button type="link" href="{{ '/en/components' | url }}">Start to use</gcds-button></p>
