---
layout: layouts/core.njk
title: Extension SGDC des Services Web Partagés de Canada.ca
lang: fr
home: true
altPage: /index.html
dateModified: "2026-07-27"
permalink: /fr/index.html
---

<h1>Extension SGDC des Services Web Partagés de Canada.ca</h1>
<p>Une extension officielle et prête pour la production du système de design du gouvernement du Canada (SGDC). Plus d'informations peuvent être trouvées sur la <a href="https://design-system.canada.ca/">page principale du SGDC</a>.</p>
<p><gcds-button type="link" href="/fr/composants">Commencer à utiliser</gcds-button></p>
